body{
    overflow-x: hidden;
}

.hero-section {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Necessary for positioning the pseudo-element */
    overflow: hidden; /* Prevents the pseudo-element from spilling outside */
}

.hero-section::before {
    content: ''; /* Required to display the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Website_Banner_1920x724.webp'); /* Your image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box; /* Includes padding in width calculation */
    opacity: 0.8; /* Adjust this to control the background opacity */
    z-index: 1; /* Places the background behind the content */
}

.hero-section > * {
    position: relative; /* Ensures the content is above the background */
    z-index: 2;
}

.hero-tagline{
    font-family: "Baskervville", serif;
    font-size: 3vw;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 4px black;
    margin-top: -75px;
}

.hero-tagline-highlight{
    transition: text-shadow 0.5s;
}

.hero-tagline-highlight:hover{
    text-shadow: 0 0 5px white;
}

.hero-description{
    font-family: "Alata", sans-serif;
    font-weight: lighter;
    font-size: larger;
    color: white;
    text-shadow: 0px 2px 4px black;
    margin-top: 15px;
    margin-bottom: 50px;
    width: 40vw;
}

.hero-CTA{
    background-color: #F4E3D7;
    width: 425px;
    height: 65px;
    border-radius: 15px;
    border-color: white;
    font-family: "Alata", sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-CTA:hover{
    cursor: pointer;
    background-color: #f8eee7;
}

@media screen and (max-width: 768px) {
    .hero-tagline{
        font-size: 5vw;
    }

    .hero-description{
        width: 80vw;
    }

    .hero-CTA{
        width: 80vw;
    }
}