.about-section{
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
    align-items : center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-image{
    width: 35vw;
    height: 65%;
    border: 4px solid #98B4A6;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}

.about-container{
    width: 35vw;
    height: 65%;
}

.about-description{
    font-family: "Alata", sans-serif;
    color: #98B4A6;
    font-size: calc(1vw + 0.65rem); /* Dynamically scales based on viewport width */
    text-shadow: -2px 2px 2px rgba(0, 0, 0, .1);
}

.about-description-name{
    color: #E6E6FA;
}

.profiles-section{
    background-color: #E6E6FA;
    padding: 5vw 15vw 0vw 15vw;
}

.profiles-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profiles-title{
    font-family: "Baskervville", serif;
    font-size: 5rem;
    color: #98B4A6;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

.profiles-legend{
    width: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

.legend-green, .legend-gray{
    font-family: "Alata", sans-serif;
    font-size: 1.25rem;
}

.legend-green{
    color: #98B4A6;
}

.legend-gray{
    color: #cfcfcf;
}

.profiles-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dynamic columns */
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.profile-image{
    border-radius: 25px;
    border: solid 4px #98B4A6;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-name{
    font-family: "Alata", sans-serif;
    color: #98B4A6;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

.profile-schedule{
    font-family: "Alata", sans-serif;
    color: #cfcfcf;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.classday{
    color: #98B4A6;
}

@media screen and (max-width: 768px) {
    .about-section{
        display: flex;
        flex-direction: column;
        height: 95vh;
    }

    .about-image, .about-container{
        margin-top: 20px;
        width: 80vw;
    }

    .about-description{
        text-align: center;
    }

    .profiles-section{
        padding: 15px;
    }

    .profiles-title{
        font-size: 2em;
    }

    .profiles-legend{
        width: 50vw;
    }

    .profile-image{
        width: 100px;
    }

    .profile-name{
        font-size: 1.5em;
        text-align: center;
    }

    .profile-schedule{
        font-size: 1em;
        text-align: center;
    }
}