.main{
    background-color: #E6E6FA;
}

.container{
    width: 50vw;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    margin: 50px 0 75px 0;
    color: #F4E3D7;
    font-size: 2em;
    font-weight: bold;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-reason, .container-email, .container-subject{
    margin-bottom: 25px;
}

.dropdown{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #98B4A6;
}

.text-email, .text-subject{
    resize: none;
    width: 100%;
    padding: 5px;
    border: 1px solid #98B4A6;
    border-radius: 5px;
}

.container-message{
    margin-bottom: 50px;
}

.text-message{
    resize: none;
    width: 100%;
    height: 200px;
    padding: 5px;
    border: 1px solid #98B4A6;
    border-radius: 5px;
}


.container-button{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.submit{
    width: 250px;
    height: 40px;
    background-color: #F4E3D7;
    border-color: white;
    border-radius: 15px;
}